<template>
<div class="container">
    <admin-nav></admin-nav>
    <p>add user</p>
    <div class="register-form">
        <div class="input-box">
            <label for="name">Name</label>
            <input type="text" name="name" v-model="form.name">
        </div>
        <div class="input-box">
            <label for="Email">Email</label>
            <input type="email" name="email" v-model="form.email">
        </div>
        <div class="input-box">
            <label for="password">Password</label>
            <input type="password" name="password" v-model="form.password">
        </div>
        <div class="input-box">
            <label for="confirm_password">Confirm Password</label>
            <input type="password" name="confirm_password" v-model="form.password_confirmation">
        </div>
        <button @click="sendForm()">Add user</button>
    </div>
</div>
</template>

<script>
import AdminNav from '../elements/AdminNav.vue';

export default {
    components: {
        AdminNav
    },
    data() {
        return {
            form: {
                name: '',
                email: '',
                password: '',
                password_confirmation: ''
            }
        }
    },
    mounted() {
    },
    methods: {
        sendForm() {
            axios.put('/api/dashboard/add/user', this.form).then((response) => {
                console.log(response.data)
            }).catch((error) => {
                console.log(error.response.data.errors)
            })
        }
    }
}
</script>