<template>
<div class="container">
    <admin-nav></admin-nav>
    <p>dashboard</p>
</div>
</template>

<script>
    import AdminNav from '../elements/AdminNav.vue';

    export default {
        components: {
            AdminNav
        }
    }
</script>