<template>
    <div class="container">
        <home-nav></home-nav>
        <p>home page</p>
    </div>
</template>

<script>
    import HomeNav from '../elements/HomeNav.vue';

    export default {
        components: {
            HomeNav
        },
    }
</script>
