<template>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse">
            <div class="navbar-nav" >
                <router-link to="/register" class="nav-item nav-link" >Register</router-link>
            </div>
        </div>
    </nav>
    <p>Login</p>
    <div class="login-form">
        <div class="input-box">
            <label for="Email">Email</label>
            <input type="email" name="email" v-model="form.email">
        </div>
        <div class="input-box">
            <label for="password">Password</label>
            <input type="password" name="password" v-model="form.password">
        </div>
        <button @click="sendForm()">Sign in</button>
    </div>
    <router-link to= "/password" class="nav-item nav-link" >Forgot password?</router-link>
</div>
</template>

<script>
import User from '../apis/User.js';

export default {
    data() {
        return {
            form: {
                email: '',
                password: '',
            }
        }
    },
    methods: {
        sendForm() {
            User.token().then(response => {
                User.login(this.form).then(response => {
                    localStorage.setItem('auth', true);

                    this.$router.push({ name: 'Home' })
                }).catch((error) => {
                    console.log(error.response.data.errors)
                });
            });
                        // axios.get('/sanctum/csrf-cookie').then(response => {
                    
                // axios.post('/api/login', this.form).then(response => {
                //     localStorage.setItem('auth', true);
                //     this.$router.push({ name: 'Home' })
                // }).catch((error) => {
                //     console.log(error.response.data.errors)
                // });
            // })
        }
    }
}


</script>

