<template>
</template>

<script>
import User from '../apis/User.js';

    export default {
        created() {
            localStorage.removeItem('auth');
            User.token().then(response => {
                User.logout().then(() => {
                    this.$router.push({ name: 'Login' })
                }).catch((error) => {
                    console.log(error.response.data.errors)
                });
            });
        }
    }
</script>