<template>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse">
                <div class="navbar-nav" >
                    <router-link to="/login" class="nav-item nav-link" >Login</router-link>
                    <router-link to="/register" class="nav-item nav-link" >Register</router-link>
                </div>
            </div>
        </nav>
        <p>Change Password</p>
        <div class="password-form">
            <div class="input-box">
                <label for="Email">Email</label>
                <input type="email" name="email" v-model="form.email">
            </div>
            <button @click="sendForm()">Send</button>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            form: {
                email: '',
            }
        }
    },
    methods: {
        sendForm() {
            axios.post('/api/password', this.form).then((response) => {
                console.log(response.data)
            }).catch((error) => {
                console.log(error.response.data.errors)
            })
        }
    }
}
</script>