<template>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse">
                <div class="navbar-nav" >
                    <router-link to="/login" class="nav-item nav-link" >Login</router-link>
                </div>
            </div>
        </nav>
        <p>Register</p>
        <div class="register-form">
            <div class="input-box">
                <label for="name">Name</label>
                <input type="text" name="name" v-model="form.name">
            </div>
            <div class="input-box">
                <label for="Email">Email</label>
                <input type="email" name="email" v-model="form.email">
            </div>
            <div class="input-box">
                <label for="password">Password</label>
                <input type="password" name="password" v-model="form.password">
            </div>
            <div class="input-box">
                <label for="confirm_password">Confirm Password</label>
                <input type="password" name="confirm_password" v-model="form.password_confirmation">
            </div>
            <button @click="sendForm()">Register Account</button>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            form: {
                name: '',
                email: '',
                password: '',
                password_confirmation: ''
            }
        }
    },
    methods: {
        sendForm() {
            axios.post('/api/register', this.form).then((response) => {
                console.log(response.data)
            }).catch((error) => {
                console.log(error.response.data.errors)
            })
        }
    }
}
</script>