<template>
<div class="container">
    <admin-nav></admin-nav>
    <p>users list</p>
    <div class="divTable">
    <div class="divTableBody">
            <div class="divTableRow">
                <div class="divTableCell">Lp</div>
                <div class="divTableCell">Name</div>
                <div class="divTableCell">E-mail</div>
                <div class="divTableCell">Type</div>
                <div class="divTableCell">Action</div>
            </div>
            <div class="divTableRow" v-for="(user, index) in users" :key="++index">
                <div class="divTableCell">{{ index }}</div>
                <div class="divTableCell">{{ user.name }}</div>
                <div class="divTableCell">{{ user.email }}</div>
                <div class="divTableCell">{{ user.type }}</div>
                <div class="divTableCell">
                    <div class="action-icon">icon edit</div>
                    <div class="action-icon" v-show="user.type == 'user'" @click="sendRequest(user.id)">icon delete</div>
                </div>
            </div>
            </div>
    </div>
    <!-- DivTable.com -->
</div>
</template>

<script>
import AdminNav from '../elements/AdminNav.vue';

export default {
    components: {
        AdminNav
    },
    data() {
        return {
            users: null
        }
    },
    created() {
        this.getList();
    },
    methods: {
        getList() {
            axios.get('/api/dashboard/users').then(response => {
                this.users = response.data;
            }).catch((error) => {
                console.log(error.response.data.errors);
            });
        },
        sendRequest(id) {
            axios.delete('/api/dashboard/delete/user/'+id).then(response => {
                if (response.data) {
                    location.reload();
                }
            }).catch((error) => {
                console.log(error.response.data.errors);
            });
        }
    }
}
</script>

<style scoped>
/* DivTable.com */
.divTable{
	display: table;
	width: 80%;
    border: 1px solid #000;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell, .divTableHead {
	border: 1px solid #999999;
	display: table-cell;
	padding: 3px 10px;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}
</style>