<template>
    <div class="container">
        <home-nav></home-nav>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse">
                <div class="navbar-nav" >
                    <router-link to="/dashboard/users" class="nav-item nav-link" >Users list</router-link>
                    <router-link to="/dashboard/add/user" class="nav-item nav-link" >Add new user</router-link>
                </div>
            </div>
        </nav>
    </div>
</template>

<script>
import HomeNav from '../elements/HomeNav.vue';

export default {
    components: {
        HomeNav
    }
}
</script>


