<template>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse">
            <div class="navbar-nav" >
                <router-link to="/" class="nav-item nav-link" >Home</router-link>
                <router-link to="/logout" class="nav-item nav-link" >Logout</router-link>
                <!-- show when admin logged -->
                <router-link to="/dashboard" class="nav-item nav-link" >Admin Panel</router-link>
            </div>
        </div>
    </nav>
</template>